dataset/parsing/
dataset/origin/
dataset/images/1/
dataset/images/2/
dataset/images/3/
dataset/images/4/
dataset/images/5/
dataset/images/image_data/
dataset/images/csv_data/
dataset/images/log/
dataset/images/cs/
dataset/images/save/
learning/model/
modeling/vectors/
modeling/save/
modeling/embedding/
modeling/parsing_result/
reference/
result/
make/
logs/
analysis/
experiments/
