dataset/parsing/
dataset/origin/
dataset/images/ct_images/
dataset/images/ct_dict/
dataset/images/image_data/
dataset/images/csv_data/
dataset/images/cs/
dataset/images/ckpt/
dataset/images/save/
learning/model/
modeling/vectors/
modeling/save/
modeling/embedding/
modeling/parsing_result/
modeling/fsResult/
modeling/image_pickles/
modeling/tf_records/
reference/
result/
make/
logs/
analysis/
experiments/
